#button:hover{
    color: rgb(0, 178, 51);
    background-color: rgb(0, 42, 0);
    cursor: pointer;
    
}

#box{
    border: 1px solid grey;
    border-radius: 10px;
    color: rgb(72, 72, 72);
    font-family: monospace;
}

#loader{
    margin-left: 20px;
    margin-bottom: 20px;
}


#resultElement{
    color: rgb(60, 60, 60);
    background-color: rgb(139, 253, 139);
    position: relative;
    opacity: 0;
    animation: move-text 0.75s forwards;
}


@keyframes move-text {
    0% { bottom: -0.2em; opacity: 1; }
    50% { bottom: 0.2em; }
    100% { bottom: 0; opacity: 1; }
}